@font-face {
    font-family: "Roboto";
    src: url("../public/font/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    box-sizing: border-box;
    background: rgb(10,66,23);
    background: linear-gradient(73deg, rgba(10,66,23,1) 0%, rgba(43,122,120,1) 100%) no-repeat center center fixed; 
    font-family: "Roboto", sans-serif;
}
